@import 'styles/colors';
@import 'styles/mixins';

.authContainer {
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-height: 1080px;
}

.coverContainer {
    position: relative;
    max-height: 100%;
    color: $black;
    overflow: hidden;
    & > svg {
        position: absolute;
        margin: 0 auto;
        top: 32px;
        left: 0;
        right: 0;
    }

    & > img {
        width: 100%;
        height: auto;
    }
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 456px;
    padding: 220px 160px 0 88px;

    & > h2 {
        color: $chineseBlack;
        @include textMedium();
    }

    & > p {
        color: $nickel;
        @include textRegular();
    }

    & > p > a {
        color: $green;
        text-decoration: none;
        @include textSemi();
    }

    & > button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 0;
        color: $white;
        @include textMedium(16px, 28px);
        background-color: $chineseBlack;
        border: none;
        border-radius: 8px;
        transition: all 0.2s;

        &:hover {
            background-color: rgba($chineseBlack, 0.8);
        }

        &:disabled {
            cursor: default;
            background-color: rgba($chineseBlack, 0.8);
        }
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & > input {
        padding-bottom: 8px;
        color: $chineseBlack;
        border: none;
        border-bottom: 1px solid $whiteDarken;
        outline: none;
        @include textRegular();
    }
    
    & > input::placeholder {
        color: $nickel;
    }
}